body {
    max-width: 100%;
    background-color: #282c34;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 1.2rem;
}

.form-box {
    border: dotted #F55A00 1vw;
    margin: 0vw;
    padding: 5vw;
    position: relative;
}

.form-box input {
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 20px
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}